<h1>Listing Results</h1>

<table>
  <thead>
    <h2>おとな</h2>
    <tr>
      <th>Score</th>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @today_adult_top_results.each do |result| %>
      <tr>
        <td><%= result.score %></td>
        <td>
          <%= link_to result.name, edit_result_path(result) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <h2>こども</h2>
    <tr>
      <th>Score</th>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @today_child_top_results.each do |result| %>
      <tr>
        <td><%= result.score %></td>
        <td>
          <%= link_to result.name, edit_result_path(result) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Score</th>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @yesterday_adult_top_results.each do |result| %>
      <tr>
        <td><%= result.score %></td>
        <td>
          <%= link_to result.name, edit_result_path(result) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>Score</th>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @yesterday_child_top_results.each do |result| %>
      <tr>
        <td><%= result.score %></td>
        <td>
          <%= link_to result.name, edit_result_path(result) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</table>
